<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kérdés</title>
</head>
<body>
<h1>Kérdés</h1>
<form action="" method="post">
    <input type="text" required placeholder="Kérdés cím">
    <p><textarea required rows="10" cols="50" placeholder="A kérdésed részleteit írd ide."></textarea></p>
    Kategória választás:
    <select required>
        <option>Web</option>
        <option>Python</option>
        <option>Egyéb</option>
    </select>
    <p><button type="submit">Elküld</button>
    <button type="reset">Töröl</button></p>
</form>
<button type="button"><a href="/">Főoldal</a></button>
</body>
</html>