<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Főoldal</h1>
<button type="button"><a href="/ask_question">Kérdés írása</a></button>
<table>
    <tr>
        <td><h2>Web</h2></td>
    </tr>
    <tr>
        <td>Kérdés</td>
        <td>Kérdés2</td>
    </tr>
</table>

<table>
    <tr>
        <td><h2>Python</h2></td>
    </tr>
    <tr>
        <td>Kérdés</td>
        <td>Kérdés32</td>
    </tr>
</table>

<table>
    <tr>
        <td><h2>Egyéb</h2></td>
    </tr>
</table>
</body>
</html>