<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Főoldal</h1>
<a href="/ask_question"><button type="button">Kérdés írása</button></a>
<h2>Web</h2>
<ul>
    {% for question_data in lines %}
    {% if question_data[3] == "Web" %}
    <li style="list-style-type: none"><a href="/question/{{ question_data[0] }}">{{ question_data[1] }}</a>
        <img src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" height="20" width="20">
        <img src="https://cdn2.iconfinder.com/data/icons/55-files-and-documents/512/Icon_17-512.png" height="20" width="20">
    </li>

    {% endif %}
    {% endfor %}
</ul>
<h2>Adatbázis</h2>
<ul>
    {% for question_data in lines %}
    {% if question_data[3] == "Adatbázis" %}
    <li style="list-style-type: none"><a href="/question/{{ question_data[0] }}">{{ question_data[1] }}</a>
        <img src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" height="20" width="20">
        <img src="https://cdn2.iconfinder.com/data/icons/55-files-and-documents/512/Icon_17-512.png" height="20" width="20">
    </li>

    {% endif %}
    {% endfor %}
</ul>
<h2>Python</h2>
<ul>
    {% for question_data in lines %}
    {% if question_data[3] == "Python" %}
    <li style="list-style-type: none">
        <a href="/question/{{ question_data[0] }}">{{ question_data[1] }}</a>
        <img src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" height="20" width="20">
        <img src="https://cdn2.iconfinder.com/data/icons/55-files-and-documents/512/Icon_17-512.png" height="20" width="20">
    </li>
    {% endif %}
    {% endfor %}
</ul>
<h2>Egyéb</h2>
<ul>
    {% for question_data in lines %}
    {% if question_data[3] == "Egyéb" %}
    <li style="list-style-type: none">
        <a href="/question/{{ question_data[0] }}">{{ question_data[1] }}</a>
        <img src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" height="20" width="20">
        <img src="https://cdn2.iconfinder.com/data/icons/55-files-and-documents/512/Icon_17-512.png" height="20" width="20">
    </li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>