<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Főoldal</h1>
<button type="button"><a href="/ask_question">Kérdés írása</a></button>
<h2>Web</h2>
<ul>
    {% for question_data in lines %}
    {% if question_data[3] == "Web" %}
    <li style="list-style-type: none"><a href="/question/{{ question_data[0] }}">{{ question_data[1] }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
<h2>Python</h2>
<ul>
    {% for question_data in lines %}
    {% if question_data[3] == "Python" %}
    <li style="list-style-type: none"><a href="/question/{{ question_data[0] }}">{{ question_data[1] }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
<h2>Egyéb</h2>
<ul>
    {% for question_data in lines %}
    {% if question_data[3] == "Egyéb" %}
    <li style="list-style-type: none"><a href="/question/{{ question_data[0] }}">{{ question_data[1] }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>