<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Téma</title>
</head>
<body>
<h1>{{ lines[1] }}</h1>
<a href="/"><button type="button">Főoldal</button></a>
<a href="/question_edit"><button type="button">Kérdés szerkesztése</button></a>
<a href="/question/{{ lines[0] }}/delete"><button type="button" onclick="return confirm('Biztos törölni szeretnéd a választ?')">Kérdés törlése</button></a>
<p>
    {{ lines[2] }}
</p>
    {% for answer_data in answer %}
        <p>
            <br>{{ answer_data[1] }}
            <br><a href="/edit_answer/{{ answer_data[3] }}"><button type="button">Válasz szerkesztése</button></a>
            <br><a href="/delete_answer/{{ answer_data[3] }}"><button type="button" onclick="return confirm('Biztos törölni szeretnéd a választ?')">Válasz törlése</button></a>
        </p>
    {% endfor %}
<p>
    <a href="/question/{{ lines[0] }}/write_answer"><button type="button">Válasz írása</button></a>
</p>
</body>
</html>