<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Téma</title>
</head>
<body>
<h1>
    {{ lines[1] }}
</h1>
<a href="/"><button type="button">Főoldal</button></a>
<a href="/question_edit/{{ lines[0] }}"><button type="button">Kérdés szerkesztése</button></a>
<a href="/question/{{ lines[0] }}/delete"><button type="button" onclick="return confirm('Biztos törölni szeretnéd a kérdést?')">Kérdés törlése</button></a>
<p>
    <h2>
        {{ lines[2] }}
    </h2>
<a href="/question/{{ lines[0] }}/write_answer"><button type="button">Válasz írása</button></a>
</p>
<table border="1px solid black">
    <td>
    {% for answer_data in answer %}
        <p>
            <br>{{ answer_data[1] }}
            <br><a href="/edit_answer/{{ answer_data[3] }}"><img src="https://cdn2.iconfinder.com/data/icons/55-files-and-documents/512/Icon_17-512.png" height="20" width="20"></a>
            <a href="/delete_answer/{{ answer_data[3] }}"><img src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" onclick="return confirm('Biztos törölni szeretnéd a választ?')" height="20" width="20"></a>
            {{ answer_data[2] }}
        </p>
    {% endfor %}
    </td>
</table>
</body>
</html>
